body {
    color: #fff;
    font-family: "Glory", sans-serif;
    text-align: center;
    height: 100%;
    background: #4d4d4d;
    margin: 0;
}

/* https://www.w3schools.com/css/css3_gradients.asp */
#header-title {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue);
    color: #333333;
    font-size: 4vw;
    text-transform: uppercase;
    height: 10vh;
    margin-bottom: 1vh;
    padding-top: 3vh; 
}
  
#gridwrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 9.5%;
    grid-gap: 5px;
    background: grey;
    margin: 0 auto;
    position: relative;
    max-width: 90vw;
    height: 80vh;
    border-radius: 15px;
    border: 3px solid #333333;
    grid-template-areas: 

    "restart . . . . . . . . . . ."
    ". start start start . value value . question question question ."
    ". start start start . category category . question question question  ."
    ". start start start . category category . option option option ."
    ". start start start . category category . option option option ."
    ". . . . . category category . option option option ."
    ". . . . . . . . . . . ."
    ". . . . . score score . . . . ."
    ". . . . .  strikes strikes . . . . ."
    ". . . . . . . . . . . .";
}

#gridwrap-gameover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
    grid-template-areas: 
    ". . ."
    ". gameover ."
    ". gameover-text .";
}

#restart {
    grid-area: restart;
    margin-top: 2vh;
}

#restart:hover {
    color: #333333;
}

#button-start {
    grid-area: start;  
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color:orange;
    border-radius: 6px;
    height: auto;  
    font-size: 7vw;
    color: #333333;
    text-transform: uppercase;
    font-family: "Glory";
}

#button-start:hover {
    cursor: pointer;
    font-size: 7.5vw;
}

#value-box {
    grid-area: value;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 3px solid green;
    color: #fefefe;
    border-radius: 6px; 
}

#value-box div, #score-box div {
    font-size: 1.4vw;
}

.category {
    border: 3px solid blue;
    padding: 1rem;
    border-radius: 5px;
    width: 85%;
    margin-top: 5px;
    font-size: 1.5vw;
}

#category-box {
    grid-area: category;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;  
}

#question-box {
    display: block;
    grid-area: question;
    background-color: grey;
    border-radius: 6px;
    border: 3px solid yellow;
    padding: 0px;
    width: 100%;
    color: #fefefe;
    margin: auto;
    height: auto;
}

#question-display {
    padding: 1.6rem;
    font-size: 1.5vw;
}

#option-box-outer{
    grid-area: option;  
}

.option-box {
    background-color: yellow;
    border-radius: 6px;
    border: 2px solid blue;
    padding: 8px;
    margin: 8px auto;
    width: 75%;
    height: 4vh; 
}

.option-box:hover {
    transform: scale(1.02);
    transition: transform 100ms;
}

.option-prefix, .option-text {
    color: #333333;
    font-size: 1.5vw;
}

#button-submit {
    display: block;
    width: 40%;
    background-color:yellow;
    border-radius: 6px;
    height: auto;  
    margin: 0 auto;
    font-size: 1vw;
    color: #333333;
    padding: 3px;
}

#button-submit:hover {
    cursor: pointer;
}

#score-box {
    grid-area: score;
    border: 3px solid green;
    border-radius: 6px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#score-display, #value-display {
    margin-left: 0.5vw;
}

#strike-box {
    grid-area: strikes;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.strike {
    background-color: green;
    border: 2px solid darkgreen;
    padding: 20px;
    margin: 0;
    font-size: 1vw;
}

#gameover {
    grid-area: gameover;
    font-size: 2vw;
    background-color:red;
    height: 25vh;
    border-radius: 6px;  
}

#gameover-button {  
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color:orange;
    border-radius: 6px;
    height: 25vh;  
    font-size: 3rem;
    color: #333333;
    text-decoration: none;
    margin-top: 5vh;
    padding-top: 8vh; 
}

#gameover-button:hover {
    cursor: pointer;
    font-size: 3vw; 
}

#gameover-text {
    grid-area: gameover-text;
}

#incorrect {
    color: grey
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
  }

  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-header {
    padding: 2px 16px;
    background-color: red;
    color:#333333;
  }
  
  .popup-text {
    padding: 2px 16px;
    color: #333333;
    }

    #footer-text {
        padding: 1vw;
    }

a {
   text-decoration: none;
   color: #fefefe;
   font-size: 1vw;
}
  
    @media screen and (max-width: 768px){

        #header-title {
            font-size: 7vw;
            height: 8vh;
            margin-bottom: 3vh;
            padding-top: 1vh; 
        }

        #gridwrap {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-auto-rows: auto;
            grid-gap: 5px;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            grid-template-areas: 
        
            ". . . . start start start start . . . ."
            ". . . . start start start start . . . ."
            "category category category category category category category category category category category category"
            ". . . . value value value value . . . ."
            ". question question question question question . option option option option ."
            ". question question question question question . option option option option ."
            ". . . . score score score score . . . ."
            ". . . . . strikes strikes . . . . ."
            ". . . . . . . . . . . ."
            ;
        }

        #button-start {  
            font-size: 6vw;
            height: 15vh;
            margin-top: 1vh;
        }

        #button-start:hover {
            cursor: pointer;
            font-size: 6.5vw;
        }

        #category-box {
           flex-direction: row;
           justify-content: space-between;
           margin: 0 1vw;   
        }

        .category {
            font-size: 2.5vw;
        }

        #value-box {
            width: auto;
            height: 5vh;
            padding: 0.5vw;
        }

        .option-box {
            width: 100%;
            height: auto; 
        }

        .option-prefix, .option-text {
        
            font-size: 2.5vw;
        }

        #question-box {
            height: auto;
            margin-top: 3vh;
        }

        #question-display {
            font-size: 2.5vw;
        }

        #button-submit {
            width: 75%; 
            height: 4vh;
            font-size: 1.5vw
        }

        #score-box {
           height: 5vh;
        }

        #value-box div, #score-box div {
            font-size: 2.5vw;
        }

        #score-display {
            font-size: 4vw;
        }

        .strike {
            font-size: 1.5vw;
        }
    }

    @media screen and (max-width: 380px){

        #header-title {
            font-size: 9vw;

        }

        #gridwrap {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: auto;
            grid-gap: 10px;
            max-width: 90%;
            max-height: 70vh;
            margin: 0 auto;
            position: relative;
            grid-template-areas: 
            
            ". . start start start start . ."
            ". category category category category category category ."
            ". . value value value value . ."
            ". . . . . . . ."
            "question question question question question question question question"
            "option option option option option option option option"
            "option option option option option option option option"
            "option option option option option option option option"
            
            ". score score score score score score ."
            " . . . strikes strikes . . ."
           
            ;
        }

        #button-start {  
            font-size: 6vw;
            height: auto;
            margin-top: 2vh;
        }

        #button-start:hover {
            cursor: pointer;
            font-size: 6.2vw;
        }

        #category-box {
           flex-direction: row;
           align-items: center;
           justify-content: center;
           
        }

        .category {
            padding: 0.5rem 1.2rem;
            width: 30%;
            font-size: 4vw;
        }

        #value-box {
            width: auto;
            height: auto;
            padding: 0.5rem;
            border: 2px solid green
        }

        #value-box div, #score-box div {
            font-size: 4vw;
        }

        .option-box {
            width: 60%;
            height: auto; 
            margin: 2px auto;
        }

        .option-prefix, .option-text {
            font-size: 4vw;
        }
    
        #question-box {
            height: auto;
            width: 90%;
            margin: 0 auto;
            border: 2px solid yellow;
        }
        
        #question-display {
            padding: 0;
            font-size: 4.5vw;
            margin-top: 0.8vh;
        }

        #button-submit {
            width: 50%; 
            font-size: 4vw;
        }

        #score-box {
           width: 100%;
           border: 2px solid green;
        }

         #strike-box {
            height: 2vh;
            margin-bottom: 1vh;
        }

        .strike {
            background-color: green;
            padding: 0.4rem 1rem;
            margin-top: 0.3rem;
            font-size: 3vw;
        }
    }

    @media screen and (max-width: 320px){
        #gridwrap {
            grid-gap: 5px;
            grid-template-areas: 
                
                ". . start start start start . ."
                ". category category category category category category ."
                ". . value value value value . ."
                "question question question question question question question question"
                "option option option option option option option option"
                ". score score score score score score ."
                " . . . strikes strikes . . ."
                ;
        }

        #strike-box {
                margin-bottom: 2vh;
        }

    }