body {
    color: #fff;
    font-family: "Glory";
    text-align: center;
    height: 100%;
    background: #4d4d4d;
    margin: 0;
}
  
#gridwrap {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: 9.5%;
    grid-gap: 5px;
    background: grey;
    margin: 0 auto;
    position: relative;
    max-width: 90vw;
    height: 80vh;
    border-radius: 15px;
    border: 3px solid #333333;
    grid-template-areas: 

    ". . . . . . . . . . . ."
    ". start start start . value value . question question question ."
    ". start start start . category category . . . . ."
    ". start start start . category category . option option option ."
    ". start start start . category category . option option option ."
    ". . . . . category category . option option option ."
    ". . . . . . . . . . . ."
    ". . . . . score score . . . . ."
    ". . . . .  strikes strikes . . . . ."
    ". . . . . . . . . . . .";
}

#gridwrap-gameover {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 1680px;
    margin: 0 auto;
    position: relative;
    grid-template-areas: 
    ". . ."
    ". gameover ."
    ". gameover-text .";
}

#button-start {
    grid-area: start;  
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color:orange;
    border-radius: 6px;
    height: auto;  
    font-size: 7vw;
    color: #333333;
    text-transform: uppercase;
    font-family: "Glory";
}

#button-start:hover {
    cursor: pointer;
    font-size: 7.5vw;
}

#category-box {
    grid-area: category;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;  
}

#question-box {
    display: block;
    grid-area: question;
    background-color: grey;
    border-radius: 6px;
    border: 3px solid yellow;
    padding: 0px;
    width: 100%;
    color: #fefefe;
    margin: auto;
    height: 9vh;
}

#option-box-outer{
    grid-area: option;  
}

#score-box {
    grid-area: score;
    border: 3px solid green;
    border-radius: 6px;
    padding: 0px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#score-display, #value-display {
    margin-left: 0.5vw;
    font-weight: bolder;
}

#value-box {
    grid-area: value;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    background-color: grey;
    border: 3px solid green;
    color: #fefefe;
    border-radius: 6px;
    height: auto;  
}

#value-box div, #score-box div {
    font-size: 1.1vw;
}



#strike-box {
    grid-area: strikes;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#gameover {
    grid-area: gameover;
    font-size: 2vw;
    background-color:red;
    height: 25vh;
    border-radius: 6px;  
}

#gameover-button {  
    display: block;
    width: 100%;
    box-sizing: border-box;
    background-color:orange;
    border-radius: 6px;
    height: 25vh;  
    font-size: 3rem;
    color: #333333;
    text-decoration: none;
    margin-top: 5vh;
    padding-top: 8vh; 
}

#gameover-button:hover {
    cursor: pointer;
    font-size: 3vw; 
}

#gameover-text {
    grid-area: gameover-text;
}

p {
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 1vw;
}

#question-display {
    padding: 1.6rem;
    font-size: 1.5vw;
}

.category {
    border: 3px solid blue;
    padding: 1rem;
    border-radius: 5px;
    width: 75%;
    margin-top: 5px;
    font-size: 1.5vw;
}

.option-box {
    background-color: yellow;
    border-radius: 6px;
    border: 2px solid blue;
    padding: 8px;
    margin: 8px auto;
    width: 50%;
    height: 50px; 
}

.option-text {
}

.option-box:hover {
    transform: scale(1.02);
    transition: transform 100ms;
}

.option-prefix, .option-text {
    color: #333333;
    margin-right: 1rem;
    justify-content: space-around;
    font-size: 1.5vw;
}

.strike {
    background-color: green;
    padding: 20px;
    margin: 0;
    font-size: 1vw;
}

#incorrect {
    color: grey
}


/* https://www.w3schools.com/css/css3_gradients.asp */
#header-title {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue);
    color: #333333;
    font-size: 4vw;
    text-transform: uppercase;
    height: 10vh;
    margin-bottom: 1vh;
    padding-top: 4vh; 
}

#button-submit {
    display: block;
    width: 25%;
    box-sizing: border-box;
    background-color:yellow;
    border-radius: 6px;
    height: auto;  
    margin: 0 auto;
    font-size: 1vw;
    color: #333333;
    padding: 3px;
}

#button-submit:hover {
    cursor: pointer;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 25vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .popup-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
  }

  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .popup-header {
    padding: 2px 16px;
    background-color: red;
    color:#333333;
  }
  
  .popup-text {
    padding: 2px 16px;
    color: #333333;
    }
  
    @media screen and (max-width: 768px){

        #gridwrap {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-auto-rows: 9.5%;
            grid-gap: 5px;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            grid-template-areas: 
        
            ". . . . start start start start . . . ."
            ". . . . start start start start . . . ."
            "category category category category category category category category category category category category"
            ". . . . value value value value . . . ."
            ". question question question question question . option option option option ."
            ". question question question question question . option option option option ."
            ". . . . score score score score . . . ."
            ". . . . score score score score . . . ."
            ". . . . . strikes strikes . . . . ."
            ". . . . . . . . . . . ."
            
            
           
            ;
        }

        #button-start {  
            font-size: 7vw;
            height: 15vh;
            margin-top: 1vh;
        }

        #button-start:hover {
            cursor: pointer;
            font-size: 7.5vw;
        }

        #category-box {
           flex-direction: row;
           margin: 0 1rem;   
        }

        #value-box {
            margin-top: 0.5vh;
        }

        h3 {
            display: none;
        }

        p {
            padding: 0.5rem;
            margin: 0 auto;
            font-size: 2vw;
        }

        .option-box {
            width: 100%;
            height: auto; 
        }

        #option-box-outer{
            margin-top: 3vh;  
        }

    
        #question-box {
            height: 90%;
            margin-top: 3vh;
        }

        #button-submit {
            width: 75%; 
        }

        #score-box {
           margin-top: 7vh;
        }

        #score-display {
            font-size: 4vw;
        }
    }

    @media screen and (max-width: 360px){

        #gridwrap {
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            grid-auto-rows: minmax(15px, auto);
            grid-gap: 10px;
            max-width: 90%;
            margin: 0 auto;
            position: relative;
            grid-template-areas: 
            ". . . . . . . ."
            ". . start start start start . ."
            ". category category category category category category ."
            ". . value value value value . ."
            "question question question question question question question question"
            "option option option option option option option option"
            "option option option option option option option option"
            ". score score score score score score ."
            " . . . strikes strikes . . ."
            ". . . . . . . ."
            ;
        }

        #button-start {  
            font-size: 3rem;
            height: auto;
        }

        #button-start:hover {
            cursor: pointer;
            font-size: 3.2rem;
        }

        #category-box {
           flex-direction: row;
           align-items: center;
           justify-content: center;
           
        }

        .category {
            padding: 0.5rem 1.2rem;
            width: 30%;
        }

        h3 {
            display: none;
        }

        #value-box {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
        }

        #value-box p {
            font-size: 1rem;
            padding: 0;
        }

        .option-box {
            width: 60%;
            height: auto; 
        }
    
        #question-box {
            height: 100%;
            width: 80%;
        }
        
        #question-display {
            vertical-align: middle
        }

        #button-submit {
            width: 50%; 
        }

        #score-box {
           width: 100%
        }

        #score-box p {
            font-size: 1rem;
            padding: 0.2rem 0;
         }

        

         #strike-box {
            height: 2vh;
        }

        .strike {
            background-color: green;
            padding: 0.4rem 1rem;
            margin-top: 0.3rem;
        }
    }